<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Forms</title>
	<style>
	    .form-group {
			margin: 2%;
		}

		.button {
			border: none;
			color: white;
			margin: 2%;
		}
	</style>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Story 05</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Forms <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'posts' %}">Posts</a>
      </li>
    </ul>
  </div>
</nav>

<h1 align="center"> Story 05 - Forms </h1>

	<form action="{% url 'story5-add' %}" method="post">
		{% csrf_token %}
		<div class="form-group">
    <label for="exampleFormControlInput1">Activity Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" maxlength="100"name ="name" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Day</label>
    <select class="form-control" id="exampleFormControlSelect1" name="day" required>
      <option>Monday</option>
  	  <option>Tuesday</option>
  	  <option>Wednesday</option>
  	  <option>Thursday</option>
  	  <option>Friday</option>
  	  <option>Saturday</option>
  	  <option>Sunday</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Date</label>
    <input type="date" name="date" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Time</label>
    <input type="time" name="time" input_formats required>
  </div>
  <div class="form-group">
  <label for="exampleFormControlInput1">Location</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" maxlength="100"name ="location" required>
</div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Category</label>
    <input class="form-control" id="exampleFormControlTextarea1" maxlength="100" name="category" required>
  </div>
  <div class="button">
	<button type="submit">Submit Form</button>
  <button type="reset">Reset</button>
  </div>
	</form>
  </body>
</html>
