<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Forms</title>
	<style>
	    .form-group {
			margin: 2%;
		}

		.button {
			border: none;
			color: white;
			margin: 2%;
		}
	</style>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Story 05</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Posts<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index'%}">Forms</a>
      </li>
    </ul>
  </div>
</nav>

  <h1 align="center"> Story 05 - Posts</h1>

   {% block content %}
   <!--  Populate semua isi pesan dari model -->
   <table class="table">
       <thead>
           <th>Activity Name</th>
           <th>Day</th>
           <th>Date</th>
           <th>Time</th>
           <th>Location</th>
           <th>Category</th>
       </thead>
       <tbody>
           {% for i in output %}
           <tr>
               <td> {{i.name}} </td>
               <td> {{i.day}} </td>
               <td> {{i.date}} </td>
               <td> {{i.time}} </td>
               <td> {{i.location}} </td>
               <td> {{i.category}} </td>
           </tr>
           {% endfor %}
       </tbody>
   </table>

   {% endblock %}

   <div class="button">
 	   <button type="reset" onclick="location.href='{% url 'story5-del' %}'">Clear all</button>
   </div>

  </body>
</html>
